.feed-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 10px;
  position: relative;
}
.feed-container {
  z-index: 1;
  overflow: auto;
  position: relative;
  width: 50vw;
  min-height: 300px;
  background-color: #4f6275;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 25px;
  padding: 10px;
  color: white;
  align-items: flex-end;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -3px -3px 10px rgba(0, 0, 0, 0.2);
}

.feed-profile-header {
  display: flex;
  padding: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.feed-profile-header .feed-username {
  flex: 1;
  color: #bdc3c7;
}

.feed-posted-time {
  color: #bdc3c7;
}
.vertical-icon {
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
}
.vertical-icon:hover {
  transition: opacity, background-color 0.3s;
  color: black;
  opacity: 0.5;
  background-color: #dff2ff;
}
.feed-body-content {
  width: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  text-align: justify;
  margin-right: 10px;
  text-indent: 50px;
  line-height: 2;
  
}

.feed-fooder {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 10px;
}

.feed-fooder-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.fooder-items {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: center;
  font-size: 18px;
}

.post-save-btn svg {
  font-size: 18px;
  margin-right: 2rem;
}

.user-nickname {
  text-decoration: none;
  color: #f1c40f;
}

.user-nickname:hover {
  color: #6bbef6;
}

.feed-drop-down {
  top: 3.5rem;
  right: 1.1rem;
  position: absolute;
  background-color: #ecf0f1;
  padding: 10px;
  user-select: none;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), -2px -2px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
.feed-drop-down ul {
  list-style-type: none;
}

.feed-drop-down ul svg,
.feed-drop-down ul label {
  pointer-events: none;
}
.feed-drop-down ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 8px;
}
.feed-drop-down ul li:hover {
  transition: 0.2s;
  background-color: #bcdcf2;
}

.delete-post {
  color: red;
}
.copy-post {
  color: #3498db;
}

.fooder-items {
  cursor: pointer;
}
.fooder-items:hover svg {
  transition: opacity 0.2s linear;
  opacity: 0.5;
}
.color-like {
  transition: color 0.2s linear;
  color: #ea2027;
}
.uncolor-like {
  color: #ecf0f1;
}

.copied-alert {
  z-index: 999999;
  max-width: 400px;
  position: fixed;
  top: 1.5rem;
}

.err-alert {
  z-index: 999999;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.err-alert-btn {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 60%;
  left: 50%;
  margin-top: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #4f6275;
  color: #fff;
  font-size: 18px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  outline: 1px solid black;
}
.err-alert-btn:hover {
  opacity: 0.6;
}
.comment-section-container {
  user-select: none;
  width: 40vw;
  height: 200px;
  border-radius: 5px;
  background-color: #dfe6e9;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  position: relative;
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}
.comment-user-profile img {
  width: 35px;

}
.comment-header {
  padding: 5px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #16a085;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
  margin-bottom: 10px;
}

.comment-input {
  flex: 1;
}

.comment-btn {
  margin-right: 2rem;
  font-size: 18px;
}

.comment-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
.comment-body {
  padding: 5px;
}
.comment-input {
  outline: none;
  padding: 5px 5px;
  padding-left: 10px;
  font-size: 16px;
  color: #7f8c8d;
  border-radius: 10px;
  border: none;
}
.comment-input input {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.blur-comment-btn.comment-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

.post-wrapper {
  display: flex;
}

.comment-inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 14px;
}

.commentedby-profile {
  display: flex;
  align-items: center;
  margin: 5px;
}
.commentedby-profile .comment-img {
  margin-right: 20px;
}

.commented-time {
  margin-left: 300px;
  color: #7f8c8d;
}

.comment-contents {
  padding-left: 20px;
  margin: 10px;
  max-width: 100%;
  max-height: 200px;
  word-wrap: break-word;
  line-height: 1.5;
}
.no-comments-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.commented-profile-pic {
  border: 2px solid #f1c40f;
  border-radius: 50%;
}

.comment-reply-btn {
  width: 45px;
  cursor: pointer;
  color: #7f8c8d;
  margin-left: 20px;
}
.comment-reply-btn:hover {
  color: #3498db;
  cursor: pointer;
}
.comment-reply-btn:active {
  opacity: 0.5;
}

.no-post-info {
  color: #f1c40f;
}
