.btn-close {
  background: transparent;
  color: #95a5a6;
  border: none;
  width: 20px;
  font-size: 22px;
  cursor: pointer;
}
.btn-close:hover {
  color: #c1cccd;
}
.alert-primary {
  width: 700px;
  margin: 10px;
  padding: 16px;
  color: #6ea8fe;
  border-radius: 10px;
  background-color: #031633;
  border: 1px solid #084298;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2),-3px 10px rgba(0, 0, 0, 0.2);
}

.alert-success {
  width: 700px;
  margin: 10px;
  padding: 16px;


  color: #75b798;
  border-radius: 10px;
  background-color: #051b11;
  border: 1px solid #75b798;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.alert-danger {

  width: 700px;
  margin: 10px;
  padding: 16px;
  color: #e7848d;
  border-radius: 10px;
  background-color: #2c0b0e;
  border: 1px solid #842029;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.alert-warning {
  width: 700px;
  margin: 10px;
  padding: 16px;
  color: #ffda6a;
  border-radius: 10px;
  background-color: #332701;
  border: 1px solid #997404;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
